@use '../base/variables' as *;

.modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 

    &.hidden {
        display: none; 
    }

    .modal-content {
        background-color: $warning; 
        border-radius: 8px; 
        padding: 2rem; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        animation: fadeIn 0.5s ease; 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(-20px);
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.modal-content .close {
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
}
