$background-color: #ffffff;
$text-color: #212529;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

body[data-theme="light"] {
    background-color: $background-color;
    color: $text-color;
}
